body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.butlerModal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2147483001 !important;
}

.butlerScrollAreaBlock {
  padding: 10px 0;
}

.butlerLoaderWhite {
  fill: #fff !important;
}

.toolbarContainer {
  width: 250px;
}